/* TODO Add site wide styles */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafafa;
}

.animate__animated.animate__tada {
    --animate-duration: 30s;
}

.footer__container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    padding: 10px 40px;
}

.footer-link {
    text-decoration: None;
    margin: 15px;
    color: #3f51b5;
    font-size: 0.8rem;
}
